@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@config "../tailwind.config.ts";

@theme {
  --breakpoint-mobile: 22.5rem; /* 360px */
  --breakpoint-mini-tablet: 35.5rem; /* 568px */
  --breakpoint-xs: 36rem; /* 576px */
  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-sm: 62rem; /* 992px */
  --breakpoint-md: 75rem; /* 1200px */
  --breakpoint-lg: 90rem; /* 1440px */
  --breakpoint-xl: 120rem; /* 1920px */
}

@custom-variant dark (&:is(.dark *));
:root {
  --alert-text: #faad14;
  --black2: #1e1e1e;
  --alert: #f9f1e6;
  --alert2: #ffa940;
  --blue2: #1890ff;
  --blue-input: #40a9ff;
  --gray-text: #707176;
  --gray-text2: #848388;
  --gray-text3: #5a5a5a;
  --gray: #f4f4f6;
  --gray2: #d9d9d9;
  --gray-button: #bfbfbf;
  --white2: #f0f0f0;
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f7f5f8;
  --border: oklch(0.922 0 0);
  --code-bg: #f4f3ec;
  --accent: oklch(0.97 0 0);
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-roboto: Roboto;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: Static/Title Large/Font --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  --background: #f7f5f8;

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.87 0 0);

  --chart-2: oklch(0.556 0 0);

  --chart-3: oklch(0.439 0 0);

  --chart-4: oklch(0.371 0 0);

  --chart-5: oklch(0.269 0 0);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: black;
}

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
p {
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-autofill-reset:-webkit-autofill,
.input-autofill-reset:-webkit-autofill:hover,
.input-autofill-reset:-webkit-autofill:focus,
.input-autofill-reset:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  transition: background-color 9999s ease-in-out 0s;
  caret-color: #000;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(33.923% 0.10745 24.943);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --gray: #f4f4f6;
  --gray-text: #707176;
  --gray-text2: #848388;
}

@layer base {
  body {
    @apply bg-white text-foreground;
  }
  html {
    @apply font-sans;
  }
  .text-h-0 {
    @apply text-3xl font-medium text-black leading-[40px];
  }

  .text-h-1 {
    @apply font-unbounded font-medium text-[22px] leading-[120%];
  }

  .text-h-2 {
    @apply font-roboto text-[16px] leading-[24px] font-medium;
  }

  .text-h-3 {
    @apply font-heading leading-[28px] text-[28px] font-medium;
  }

  .text-h-4 {
    @apply font-heading text-[14px] font-normal leading-[22px];
  }

  /* Основной текст */
  .text-based {
    @apply font-heading text-[14px] leading-[22px] font-normal;
  }

  /* Жирный основной текст */
  .text-bold-based {
    @apply font-heading text-[14px] leading-[22px] font-semibold text-black2;
  }

  /* Для подписей */
  .text-for-sign {
    @apply font-manrope text-[18px] leading-[135%] text-gray-text2;
  }

  /* Для кнопок и инпутов */
  .text-for-btns-inputs {
    @apply font-manrope text-[16px] leading-[135%];
  }

  /* Полужирный для кнопок и инпутов */
  .text-semibold-for-btns-inputs {
    @apply font-manrope font-semibold text-[16px] leading-[135%];
  }

  /* Маленький для кнопок и инпутов */
  .text-sm-for-btns-inputs {
    @apply font-manrope text-[12px] leading-[135%];
  }

  /* Для заголовков на странице О нас */
  .text-title-about {
    @apply font-unbounded text-[23px] leading-[120%] tablet:text-[32px] md:text-[42px];
  }

  /* Для подписи на странице О нас */
  .text-subtitle-about {
    @apply font-manrope text-[16px] leading-[140%] tablet:text-[20px] md:text-[24px];
  }

  .text-for-statuses {
    @apply font-manrope text-sm leading-none font-normal;
  }

  .text-alert {
    @apply font-manrope text-[14px] leading-[135%] text-error;
  }

  .text-for-tags {
    @apply font-manrope text-[14px] md:text-[16px] font-normal;
  }

  .text-dialog-prompt {
    @apply font-manrope font-normal text-[16px] leading-[21.86px] tracking-[0px] text-secondary text-center w-full;
  }

  .truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
